# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Production build
build/

# Testing
coverage/
*.lcov

# Environment variables
.env
.env.local
.env.*.local

# Next.js build output (if using Next.js in future)
.next/
out/

# Parcel cache
.cache

# Mac system files
.DS_Store

# Linux or Windows system files
Thumbs.db

# Editor-specific
.idea/
.vscode/
*.sublime-workspace

# Temporary files
*.swp
*.tmp
